.app-header {
  background-color: var(--clr2bg);
  padding-block: 1em;
}
.app-header section:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-header .app-nav {
  display: flex;
  gap: 15px;
}
a.active {
  color: var(--clr1txtActive);
  font-weight: bold;
  text-decoration: underline;
}
