.folder-list {
    color: #202124;
    font-size: 0.825rem;
}

.folder-list li {
    /* display: flex; */
    /* justify-content: center; */
    height: 2rem;
    cursor: pointer;
    transition: all 200ms ease;

}

.selected {
    background-color: #d3e3fd;
    font-weight: bold;
    padding-inline: 10px;
  }

.folder-list li:not(.selected):hover {
    background-color: rgb(242, 242, 242);
    border-radius: 0 20px 20px 0px;

}

.folder-list i {
    align-content: center;

}

.folder-list li span:nth-of-type(2) {
    font-weight: bold;
}
