.mail-preview{
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    gap: 0.2rem;
    padding-block: 0.5rem;
}

.mail-preview p{
    margin: 0;
    color: var(--gray2);
    white-space: nowrap;    /* מונע ירידת שורה */
    overflow: hidden;       /* מסתיר את התוכן שיוצא מהרוחב */
    text-overflow: ellipsis; /* מוסיף "..." כשאין מקום */
    max-width: 100%;
    
}

.mail-preview h3 ,.mail-preview h4{
    white-space: nowrap;    /* מונע ירידת שורה */
    overflow: hidden;       /* מסתיר את התוכן שיוצא מהרוחב */
    text-overflow: ellipsis; /* מוסיף "..." כשאין מקום */
    max-width: 100%;
    font-size: 0.875rem;
}
