.mails-list{
    grid-area: mail-list;
    background-color: white;
}
.mails-list li:first-child{
    border-block-start:  0.5px solid rgb(186, 186, 186);

}

.mail-line {
    display: flex;
    border-block-end:  0.5px solid rgb(186, 186, 186);
    background-color: white;
}


.mail-line button{
    background-color: transparent;
    border: none;
    color: var(--gray2);
}

.mail-line.read{
    background-color:#f2f6fc;
    font-weight: 400;
}

.read h3,.read h4
{
    font-weight: 400;
}