:root {
  --clr1bg: #fff8e8;
  --clr1txt: #674636;
  --clr1txtBg: #aa836f98;
  --clr1txtActive: #e79153;
  --clr2txtActive: #d2691e;
  --clr2bg: #e6f0d6;
  --clr2btnbg: #dff2c1;
  --clr3bg: #f0ead7;
  --clr4bg: #e4f3ca;
  --clr5bg: #d8f6a6;
  --clrhprice: #ec644b;
  --clrlprice: #6fc276;
  --clrsuccess: #008000aa;
  --clrerr: #ec634bb1;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
}
