.add-note {
  width: 90%;
  max-width: 60vw;
  margin: 40px auto 30px;
  padding: 3px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.627);
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  overflow: hidden;
  max-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.add-note textarea {
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: transparent;
  color: black;
  outline: none;
  resize: none;
  min-height: 20px;
}

.add-note textarea::placeholder {
  color: #5f6368;
  font-size: 1rem;
}

.add-note.expanded {
  max-height: 250px;
  padding: 12px;
}

.add-note input,
.add-note button {
  display: none;
}

.add-note.expanded input,
.add-note.expanded button {
  display: block;
  opacity: 1;
  visibility: visible;
  height: auto;
}

.add-note input {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: transparent;
  color: black;
  outline: none;
}

.add-note button {
  align-self: flex-end;
  background: transparent;
  color: #1a73e8;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  padding: 8px 12px;
  border-radius: 6px;
}

.add-note button:hover {
  background: rgba(26, 115, 232, 0.1);
}
