.note-side-bar {
  position: relative;
  width: 100%;
}

.sidebar {
  position: absolute;
  top: 2px;
  left: 0;
  width: 12vw;
  min-height: 92vh;
  background-color: #ffffff00;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  z-index: 1000;
  overflow: hidden;
}

.sidebar.open {
  background-color: #ffffffd2;
  width: 35vw;
}

.sidebar-content {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  width: 100%;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 12px 15px;
  color: #202124;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
  border-radius: 0 25px 25px 0px;
}

.sidebar-item:hover {
  background: linear-gradient(to right, #feefc3 0%, #feefc3 100%);
  color: #202124;
}

.sidebar-item.active {
  background: linear-gradient(to right, #feefc3 0%, #feefc3 100%);
  color: #202124;
  position: relative;
  border: none;
}

.sidebar-item i {
  font-size: 1.2rem;
  width: 30px;
  transition: transform 0.3s;
}

.sidebar-item:hover i {
  transform: scale(1.1);
}

.sidebar-text {
  display: none;
  margin-left: 10px;
  font-size: 1rem;
}

.sidebar.open .sidebar-text {
  display: inline;
}

@media (min-width: 601px) and (max-width: 830px) {
  .sidebar {
    width: 7.5vw;
  }
  .sidebar.open {
    width: 23vw;
  }
}

@media (min-width: 831px) and (max-width: 1100px) {
  .sidebar {
    width: 7vw;
  }
  .sidebar.open {
    width: 20vw;
  }
}

@media (min-width: 1101px) {
  .sidebar {
    width: 5vw;
  }
  .sidebar.open {
    width: 15vw;
  }
}

.sidebar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8em;
  cursor: pointer;
  padding: 0.2em 0.5em;
  transition: transform 0.3s ease;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1100;
}

.sidebar-toggle.hide-toggle {
  display: none;
}

/* Adjust Sidebar for Small Screens */
@media (max-width: 900px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100vh;
    background-color: #ffffffd2;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
    z-index: 1000;
    overflow: hidden;
  }

  .sidebar.menu-open {
    left: 0;
    width: 250px;
  }

  .sidebar-toggle {
    display: block;
  }
}

@media (min-width: 901px) {
  .sidebar-toggle {
    display: none;
  }
}
